docling
pymupdf
sentence-transformers
rank_bm25
python-dotenv
langchain==1.2.7
langchain-core==1.4.1
langchain-text-splitters
langchain-community==0.4.2
langchain-openai==1.1.7
langchain-ollama==1.0.1
langchain-anthropic
langchain-groq
langchain-huggingface
langgraph==1.0.10
langgraph-prebuilt==1.0.8
chromadb==1.5.8
ollama==0.6.1
einops
psutil
gradio
streamlit
plotly
