sentence-transformers
rank_bm25
python-dotenv
einops
requests
langchain==1.2.7
langchain-core==1.4.1
langchain-text-splitters
langchain-community==0.4.2
langchain-openai==1.1.7
langchain-anthropic
langchain-groq
langchain-huggingface
langchain-ollama==1.0.1
langgraph==1.0.10
langgraph-prebuilt==1.0.8
chromadb==1.5.8
gradio
